<%- include('../partials/header_admin.ejs') %>
<div class="body">
    <div class="row">
        <div class="element">
            <h3>Olá,<%= usuario %></h3>
            <p style="color:#aaa">Seja Bem vindo ao painel</p>
        </div>
    </div>
</div>