<%- include('./partials/header.ejs') %>
<div class="row">
    <div class="element">
        <h3>404-ERROR</h3>
        <p style="color:#aaa">Seja Bem vindo ao painel</p>
    </div>
</div>
<div class="row">
    <div class="element">
        <p style="color:#aaa">SALDO</p>
        <h1 style="color: #25D398;">  R$ <span id="saldo"> 
            <% if(saldoparaexibir < saldoinicialsemacrecimo ){ %>    
               <%=api%>
            <% }else{ %>
                <%= saldoparaexibir %>
            <% } %>
        </span>       
        </h1>
        <span><small style="padding: 0px 10px; color: #ccc;" id="info">Carregando...</small></span>
    </div>
    
</div>

<script>
    let info = document.getElementById('info')

    let saldo = document.getElementById('saldo');
    let saldoAtualizado = saldo.innerHTML

    saldo.innerText = '0'


    setTimeout(function(){
        saldo.innerHTML = saldoAtualizado
        info.style.display = 'none'
    },(1))
</script>

<%- include('./partials/footer.ejs') %>