<!-- <%- include('partials/header.ejs') %>
<style>
    @media only screen and (max-width: 600px) {
        .col-6{
            width: 100%;
    }
}
    
</style>
<body>
    <div class="container-fluid">
        <div class="row  d-flex justify-content-center">
            <div class="col-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h1>Login</h1>
                    </div>
                    <div class="card-body">
                        <form action="/authenticate" method="post">
                            <div class="mb-3">
                                <label for="" class="form-label">Login</label>
                                <input type="text" class="form-control" name="login" required>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Senha</label>
                                <input type="password" class="form-control" name="senha" required>
                            </div>
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-primary" name="acao" value="Entrar">
                            </div>                            
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p>© 404-ERROR</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %> -->


ola