<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saldo insuficiente</title>

    <!-- fonte  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: Inter;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 1.1rem;
            background-color: #FB4A7C;
            padding: 10px 20px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div style="display: flex; height: 100vh; justify-content: center; align-items: center; text-align: center;">
        <div>
            <h1 style="color: #FB4A7C;">SALDO INSUFICIENTE</h1>
            <a href="">Falar com suporte</a>
        </div>
    </div>
</body>
</html>